@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #FFBD39;
    --secondary-color: #1A1A1A;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

img {
    width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

h5 {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

p {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.background-heading {
    position: absolute;
    z-index: -2;
    font-size: 7vw;
    font-weight: 900;
    color: #1A1A1A;
}

.swiper-pagination-bullet {
    background-color: white;
    padding: 4px;
    border: 1px solid rgba(0,0,0,.9);
    outline: 1px solid #f7d6d6;

}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 38px;
        font-weight: 700;
        line-height: 57px;
    }

    .background-heading {
        display: none;
    }
}